#title {
    text-align: center;
    background-color: #05B1B1;
    color: white;
    padding: 10px;
    margin: 0;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.144);
}
.product img {
    width: 250px;
}

.productDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buyBtn {
    width: 100%;
    height: 50px;
    background-color: #7BAF43;
    color: white;
    font-size: 19px;
    border: none;
    border-bottom: 5px solid #72964C;
    cursor: pointer;
}
#buyBtn:hover {
    background-color: #8ec950;
}

#productPrice {
    font-size: 19px;
}